# Example configuration for angrr

# Only roots point into the store will be removed
# store = "/nix/store"

# Only monitor GC roots owned by the current user
# Defaults to "auto"
# owned_only = "auto"

# Remove GC root in `directory` instead of the symbolic link target of them.
# remove_root = false

# Directory contains GC roots to monitor.
# directory = ["/nix/var/nix/gcroots/auto"]

[temporary_root_policies.direnv]
enable = true
priority = 90             # lower priority number takes precedence
path_regex = '/\.direnv/'
period = "14d"

[temporary_root_policies.result]
enable = true
# priority defaults to 100 if not specified
path_regex = '/result[^/]*$'
period = "7d"

[profile_policies.system]
enable = false
profile_paths = ["/nix/var/nix/profiles/system"]
keep_since = "14d"
keep_latest_n = 3
keep_booted_system = true
keep_current_system = true

[profile_policies.user_profile]
enable = false
profile_paths = [
  "~/.local/state/nix/profiles/profile",
  "/nix/var/nix/profiles/per-user/root/profile",
]
keep_since = "0d"
keep_latest_n = 3
keep_booted_system = false
keep_current_system = false
