name: "Check"
on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    strategy:
      matrix:
        runner:
          - ubuntu-latest # x86_64-linux
          - ubuntu-24.04-arm # aarch64-linux
          - macos-15-intel # x86_64-darwin
          - macos-latest # aarch64-linux
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Install nix
        uses: cachix/install-nix-action@master
        with:
          github_access_token: "${{ secrets.GITHUB_TOKEN }}"
          # https://github.com/cachix/install-nix-action/tree/master/?tab=readme-ov-file#how-do-i-run-nixos-tests-on-linux
          enable_kvm: true
          extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"
      - name: Setup cachix
        uses: cachix/cachix-action@master
        with:
          name: linyinfeng
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: Nix flake check
        run: nix flake check --print-build-logs

  version:
    needs: [check]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Install nix
        uses: cachix/install-nix-action@master
        with:
          github_access_token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Setup cachix
        uses: cachix/cachix-action@master
        with:
          name: linyinfeng
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
      - name: Check version
        run: |
          tag_version="${GITHUB_REF#refs/tags/v}"
          binary_version="$(nix run .#angrr -- --version | cut --delimiter=' ' --fields=2)"
          echo "binary version = $binary_version"
          echo "tag    version = $tag_version"
          if [ "$binary_version" != "$tag_version" ]; then
            echo "Version mismatch"
            exit 1
          fi
